/***************************************************************************************/
/*
/*		Author: AS Designing
/*		Author URI: http://www.asdesigning.com
/*		Theme URI: http://www.astemplates.com
/*		
/*		Note: Design for Narrow desktop
/*
/***************************************************************************************/

@media (max-width: 980px) 
{
	#logo-row .mod-search
	{
		padding-left: 0;
	}
	
	#logo-row .btn-search
	{
		left: 10px;
	}
	
	#logo-row .mod-search_searchword
	{
		width: 220px;
	}
	
	#logo div.slogan
	{
		display: block;
		left: 59px;
		top: -10px;
		width: auto;
	}
		
	.thumbnails
	{
		margin-left: -12px;
	}
	
	.thumbnails > li
	{
		margin-left: 12px;
	}
	
	.page-category__team .item_introtext
	{
		overflow: visible;
	}

	.slide_title
	{
		font-size: 70px;
		letter-spacing: -4px;
		line-height: 44px;
		margin-bottom: 6px;
	}
	
	.camera_caption a.readmore
	{
		padding: 19px 27px 16px 20px;
		font-size: 20px;
	}
	
	.camera_caption a.readmore .arrow
	{
		right: 12px;
		top: 27px;
	}
	
	.shadow span
	{
		left: 2%;
		width: 96%;
	}
	
	.mod-newsflash-adv__links .item_content h2
	{
		line-height: 30px;
		padding-top: 14px;
		padding-bottom: 14px;
	}

	aside .mod-search button.btn.btn-search 
	{
		margin-top: 15px;
		padding: 5px 10px 4px;
	}	
		
	#back-top
	{
		display: none !important;
	}
	
	.page-blog .items-row.cols-3 .item_img.img-intro
	{
		width: 95.5%	
	}
	
	.random-image img
	{
		width: 94% !important;	
	}
	
	#footer-row #phocagallery-module-ri div.mosaic img
	{
		width: 85px !important;
		max-width: none;
		max-height: none;	
	}
	
	#footer-row #phocagallery-module-ri div.mosaic	
	{
		width: 85px !important;
	}		
}