
/***************************************************************************************/
/*
/*		Author: AS Designing
/*		Author URI: http://www.asdesigning.com
/*		Theme URI: http://www.astemplates.com
/*		
/*		Note: Design for Large desktop
/*
/***************************************************************************************/

@media (max-width: 1199px) 
{
	h1,
	h2
	{
		font-size: 30px;
	}

	#logo-row .mod-search_searchword
	{
		width: 230px;
	}
	
	.slide_title
	{
		font-size: 100px;
	}
	
	.camera_caption a.readmore
	{
		right: 60px;
	}
	
	.mod-newsflash-adv__links .item_content ul li a
	{
		font-size: 12px;
	}
	
	#header-bottom-row h4.tryit
	{
		padding: 0px;
		float: none;	
	}
	
	#header-bottom-row p.tryit		
	{
		padding: 15px 0px 0px;	
	}
	
	#header-bottom-row a.readmore	
	{
		float: none;
	}
	
	#footer-row #phocagallery-module-ri div.mosaic img
	{
		width: 106px !important;
		max-width: none;
		max-height: none;	
	}
	
	#footer-row #phocagallery-module-ri div.mosaic	
	{
		width: 106px !important;
	}			
}